 /* Variables */

 $font-header: 'Signika', sans-serif;
 $font-text: 'Inconsolata', monospace;

 /* Global */

 .title {
   font-family: $font-header;
   font-size: 24px;
 }
 .subtitle {
   font-family: $font-text;
   font-size: 12px;
 }
