 /* Variables */

 $font-header: 'Signika', sans-serif;
 $font-text: 'Inconsolata', monospace;

 /* Splash */

 .title {
   font-family: $font-header;
   font-size: 24px;
 }
 .subtitle {
   font-family: $font-text;
   font-size: 12px;
 }

/* Contents */

.contents {
    font-size: 16px;
    line-height: 1.7;
    font-family: $font-text;
    display: flex;
}
